# copy this file to .env.dev or .env.<environment> file.
# edit variables with your details and make sure it is referenced in config.py
ELASTIC_API_KEY="yourElasticAPIKeyHere(starts with essu_)"
ELASTIC_ORG_ID=your_ElasticOrgIDHere(normally a number)
